<!--头部信息-->
<ion-header>
  <ion-navbar>
    <ion-title (click)="chooseSubjectClass();" style="padding: 0px 20px 1px;">
      {{currentSubject.courseName}}&nbsp;<span style="font-size: small">[切换科目]</span>
      <div class="bookbt"></div>
    </ion-title>
  </ion-navbar>
</ion-header>
<!--下拉选择课程页面-->
<div id="allCourseDropPage">
  <div id="mainCourseList">
    <div *ngFor="let mianCourse of allSubjects;let i=index" (click)="mainCourseIndex=i"
         [class]="i==mainCourseIndex?'mainChosen':''">
      {{mianCourse.mainCourseAppName}}
    </div>
  </div>

  <div id="subCourseList">
    <div *ngFor="let mianCourse of allSubjects;let i=index">
      <div *ngIf="i==mainCourseIndex">
        <div *ngFor="let subCourse of mianCourse.children;let j=index"
             (click)="doSetCurrentSubCourse(i,j)"
             [class]="(i==chosenMainCourseIndex&&j==chosenSubCourseIndex)?'subChosen':''">
          <button ion-item>
            <ion-label>{{subCourse.subCourseName}}</ion-label>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<ion-content no-padding>
  <div class="score" style="background-image: url(assets/images/headb.jpg)">
    <ul style="background-image: url(assets/images/head.jpg)">
      <li>
        <p>答对</p>
        <span>{{currentSubCourseScore.right}}</span>
      </li>
      <li>
        <p>已做题数</p>
        <span>{{currentSubCourseScore.all}}</span>
      </li>
      <li>
        <p>答错</p>
        <span>{{currentSubCourseScore.wrong}}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="slides.length>0">
    <ion-slides autoplay=6000 speed=2000>
      <ion-slide *ngFor="let item of slides;let i = index" [style.background-image]="getSlideImgByIndex(i)"
                 (click)="goToSlideDetailInfo()"></ion-slide>
    </ion-slides>
  </div>

  <div class="card">
    <ul *ngFor="let module of modules;let i = index" [style.background-image]="module.picture"
        (click)="goQuestionsListByType(i+1)"
        [hidden]="moduleShows[i]==0">
      <div>{{module.title}}<p>{{module.description}}</p></div>
    </ul>
    <ul class="card-li">
      <li style="background-image:url(assets/images/item6.png)" (click)="goQuestionsListByType(10)">
        错题
      </li>
      <li style="background-image:url(assets/images/item7.png)" (click)="goQuestionsListByType(11)">
        收藏
      </li>
      <li style="background-image:url(assets/images/item8.png)" (click)="goQuestionsListByType(12)">
        笔记
      </li>
    </ul>
  </div>

</ion-content>
